.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 36px;
    color: rgb(35, 35, 53);
}

h2 {
    font-size: 72px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: rgb(58, 58, 80);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;

}

button:hover {
    opacity: .7;
}

#start {
    background-color: #27ae60;
}

#stop {
    background-color: #c0392b;
}

#reset {
    background-color: #7f8c8d;
}